USE [master]
GO
/****** Object:  Database [HastakayitDB]    Script Date: 27.06.2026 15:35:36 ******/
CREATE DATABASE [HastakayitDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HastakayitDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HastakayitDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HastakayitDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HastakayitDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HastakayitDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HastakayitDB]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 27.06.2026 15:35:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[HastaID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](max) NULL,
	[Telefon] [varchar](15) NULL,
	[Sikayetler] [nvarchar](max) NULL,
	[Tarih] [smalldatetime] NULL,
	[AktifMi] [bit] NULL,
	[BorcTutari] [money] NULL,
 CONSTRAINT [PK_Hastalar] PRIMARY KEY CLUSTERED 
(
	[HastaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hastalar] ON 

INSERT [dbo].[Hastalar] ([HastaID], [AdSoyad], [Adres], [Telefon], [Sikayetler], [Tarih], [AktifMi], [BorcTutari]) VALUES (1, N'Ali Ak', N'Bakırköy', N'55555555', N'Karın ağrısı', CAST(N'2026-06-20T00:00:00' AS SmallDateTime), 0, 0.0000)
INSERT [dbo].[Hastalar] ([HastaID], [AdSoyad], [Adres], [Telefon], [Sikayetler], [Tarih], [AktifMi], [BorcTutari]) VALUES (2, N'Ayşe Mor', N'Şirinevler', N'555444444', N'Baş ağrısı', CAST(N'2026-06-19T00:00:00' AS SmallDateTime), 1, 100.0000)
INSERT [dbo].[Hastalar] ([HastaID], [AdSoyad], [Adres], [Telefon], [Sikayetler], [Tarih], [AktifMi], [BorcTutari]) VALUES (3, N'Murat Cozz', N'Beylikdüzü', N'(666) 664 43 55', N'Göğüste Ağrı ve baş dönmesi', CAST(N'2026-06-21T00:00:00' AS SmallDateTime), 1, 500.0000)
SET IDENTITY_INSERT [dbo].[Hastalar] OFF
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF_Hastalar_Tarih]  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF_Hastalar_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Hastalar] ADD  CONSTRAINT [DF_Hastalar_BorcTutari]  DEFAULT ((0)) FOR [BorcTutari]
GO
USE [master]
GO
