USE [master]
GO
/****** Object:  Database [OgrenciDB]    Script Date: 27.06.2026 19:38:31 ******/
CREATE DATABASE [OgrenciDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OgrenciDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OgrenciDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OgrenciDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OgrenciDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OgrenciDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OgrenciDB]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 27.06.2026 19:38:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[OgrNo] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NULL,
	[Sinif] [int] NULL,
	[Sube] [char](1) NULL,
	[KayitTarihi] [smalldatetime] NULL,
	[Uyrugu] [nvarchar](50) NULL,
	[Mezun] [bit] NULL,
 CONSTRAINT [PK_Ogrenciler] PRIMARY KEY CLUSTERED 
(
	[OgrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ogrenciler] ON 

INSERT [dbo].[Ogrenciler] ([OgrNo], [AdSoyad], [Sinif], [Sube], [KayitTarihi], [Uyrugu], [Mezun]) VALUES (1, N'Ahmet Ak', 11, N'B', CAST(N'2026-06-26T19:31:00' AS SmallDateTime), N'T.C.', 0)
INSERT [dbo].[Ogrenciler] ([OgrNo], [AdSoyad], [Sinif], [Sube], [KayitTarihi], [Uyrugu], [Mezun]) VALUES (2, N'Ayşe Gündüz', 9, N'A', CAST(N'2026-06-20T19:31:00' AS SmallDateTime), N'K.K.T.C.', 0)
SET IDENTITY_INSERT [dbo].[Ogrenciler] OFF
ALTER TABLE [dbo].[Ogrenciler] ADD  CONSTRAINT [DF_Ogrenciler_KayitTarihi]  DEFAULT (getdate()) FOR [KayitTarihi]
GO
USE [master]
GO
